*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* HEADING */
header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

header .logo {
  font-weight: 900;
  font-size: 24px;
  color: #f9faf8;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
  gap: 3rem;
}
